.image-container {
  /* flex settings can be basically anything */
  display: flex;
  flex: 1 0 auto;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #161616;
}

.image-container:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.image {
  width: 70%;
  height: 70%;
}
